<html>
<head>
<title>ezDL Requests</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<META http-equiv="expires" content="0">
<META http-equiv="pragma" content="no-cache">
<link rel="stylesheet" type="text/css" href="/ezdl.css">
</head>

<body id="reqlog">

<div id="main"> 
<h1>Agent "<% agent %>" - Requests</h1>

<table>
  <tr>
    <th class="name">Request</th>
    <th class="info">Info</th>
  </tr>
<% requestlist %>
  <tr class="recordend">
    <td><span class="name"><% name %></span></td>
    <td><span class="info"><% info %></span></td>
  </tr>
<% /requestlist %>
</table>
</div>

<div id="menu">
<ul>
<li><a href="/agentlist">Agent List</a></li>
<li><a href="/dirprops">Properties</a></li>
</ul>
</div>

</body>
</html>
